extends ./../layout/layout

block head
  meta(name='description', content='linkgo.io web')
  meta(name='author', content='linkgo.io')
  title linkgo.io

  link(rel='stylesheet', href='/dist/vendors/semantic-ui/dist/semantic.css')
  link(rel='stylesheet', href='/dist/views/signup/signup.css')

block feet
  script(src='/dist/views/signup/signup.js')

block body
  div#signupForm
  
